{:paths ["src" "resources"]
 :deps  {reagent/reagent {:mvn/version "1.2.0"}
         ring/ring-core {:mvn/version "1.10.0"}
         ring/ring-jetty-adapter {:mvn/version "1.10.0"}
         ring/ring-json {:mvn/version "0.5.1"}
         metosin/jsonista {:mvn/version "0.3.7"}
         compojure/compojure {:mvn/version "1.7.0"}}
 :aliases
 {:dev  {:extra-paths ["dev" "test" "config"]
         :main-opts ["-m" "app.main" "dev"]}
  :run  {:extra-paths ["config"]
         :main-opts ["-m" "app.main" "run"]}
  :test {:extra-paths ["test" "config"]
         :main-opts ["-m" "clojure.test" ]}}}
